<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="remember" type="Remember.RememberConfig, Remember"></section>
  </configSections>
  <remember database="0" expiry="150" password="redisPASSWORD">
    <endpoints>
      <add host="127.0.0.1" port="6379" />
    </endpoints>
  </remember>
</configuration>
